<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/dbf4d28676.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <section>
      <div id="logo">BaterPonto</div>
      <nav>
        <a href="#Sobre"><i class="fa-solid fa-question"></i></a>
        <a href="http://127.0.0.1:5500/htmls/Login.html"><i class="fa-solid fa-user"></i></a>
        <a href="#Contato"><i class="fa-solid fa-phone"></i></a>
        <a href="/index.html"><i class="fa-solid fa-house"></i></a>
      </nav>
    </section>
  </header>
  <main>
    <section>
      <form id="CRUD-Form" method="post">
        <input type="text" id="Input-Form" placeholder="Nome">
        <br>
        <input type="text" id="Input-Form" placeholder="CNPJ">
        <br>
        <input type="text" id="Input-Form" placeholder="Localizacao">
        <br>
       <input type="submit" name="EnviarCadastro" id="CadastroEnviado" value="Cadastrar">
      </form>
    </section>
  </main>

  <br>
  <hr>
  <footer>
    <div class="wrapper">
      <div class="footer-box">
        <div class="company-footer">
          <h2>BATERPONTO</h2>
          <p>Bater o Ponto da sua empresa. Nunca Foi Tao Facil</p>
        </div>
      </div>

      <div class="footer-box">
        <div class="articles-footer">
          <h2>Artigos recentes</h2>
          <ul class="footer-list foooter-link-list">
            <li>
              <a href="http://127.0.0.1:5500/htmls/home.html#Login">Home</a>
            </li>
            <li>
              <a href="http://127.0.0.1:5500/htmls/home.html#Login">Contato</a>
            </li>
            <li>
              <a href="http://127.0.0.1:5500/htmls/home.html#Login">Login</a>
            </li>
            <li>
              <a href="http://127.0.0.1:5500/htmls/home.html#Login">Sobre</a>
            </li>
          </ul>
        </div>
        <div class="footer-box">
          <h2>Nos encontre nas redes Sociais</h2>
          <ul>
            <li>
              <a href="#"></a> <i class="fab fa-facebook-square">
                <span>Facebook</span>
              </i>
            </li>
            <li>
              <a href="#"></a> <i class="fab fa-instagram">
                <span>Instagram</span>
              </i>
            </li>
            <li>
              <a href="#"></a> <i class="fab fa-linkedin">
                <span>Linkedin</span>
              </i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>